<div class="row">
  <div class="col s5 white lighten-4 full-heigth">
    

    <div class="section"></div>

    <main>

        <center>

          <img class="responsive-img" style="width: 150px;" src="<%= asset_path('logoFaurecia.png') %>" />

          <div class="section"></div>

          <h5 class="indigo-text">Please, login into your account</h5>

        </center>

        <div class="section"></div>

        <div class="center-align">
          <div class="z-depth-2 lighten-4 width70" style="display: inline-block; padding: 32px 60px 0px 60px; border: 1px solid #EEE;">

            <%= render "users/sessions/login" %>

          </div>
        </div>

    </main>

  </div>


  <div class="col s7 lighten-4 full-heigth main-background"></div>



</div>
